---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Componente 6">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="pt-40 pb-12">
        <div class="w-11/12 lg:w-10/12 mx-auto max-w-screen-xlg">
            <div class="text-center mx-auto max-w-[816px]">
                <h2 class="text-3xl lg:text-4xl">Collab & Influencers</h2>
                <p class="text-xs lg:text-[20px] mt-2">
                    We bring to you our influencer program where we are open to
                    collaborate with all the creatives, we believe in your
                    talent and decor style to create amazing content. All you
                    need to do is fill out the following form and we will
                    contact you by mail.
                </p>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-12 lg:mt-16 relative">
                <img
                    class="w-full h-full object-cover object-center"
                    src="/images/componente-6.jpg"
                    alt="componente 6"
                />
                <div class="flex items-center gap-x-2 justify-center mt-4">
                    <img src="/images/instagram.svg" alt="instagram" />
                    <a class="text-xs" href="/" target="_blank"
                        >@influencer_lifestyle92</a
                    >
                </div>
                <button
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                >
                    <img src="/images/octicon_play-24.svg" alt="action play" />
                </button>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-64">
                <div class="text-center mx-auto max-w-[816px]">
                    <h2 class="text-3xl lg:text-4xl">
                        Who is this program for?
                    </h2>
                    <p class="text-xs lg:text-[20px] mt-2">
                        If you are a professional influencer, blogger or content
                        creator of home decor and lifestyle products this is for
                        you! We are excited to know you and to collaborate
                        together, please send your information in the next form
                        and enjoy!
                    </p>
                    <div class="mt-12 lg:mt-16 text-center">
                        <a
                            class="inline-block border border-black font-medium py-4 px-8 text-xs"
                            href="/"
                        >
                            APPLY
                        </a>
                    </div>
                </div>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-64 text-center">
                <h2 class="text-3xl lg:text-4xl -mt-2">
                    Why choosing Ondecor?
                </h2>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
