---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Features Black">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="py-[80px] bg-black text-white">
        <div class="w-11/12 lg:w-10/12 mx-auto max-w-screen-xlg">
            <div class="text-center">
                <h2 class="text-3xl lg:text-4xl">Features</h2>
            </div>
            <div class="mt-[80px]">
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-y-14"
                >
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-1.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            We offset 100% of carbon emissions from shipping and
                            packing on deliveries.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-2.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            Thicker wallpaper, which provides an easier
                            installation.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-3.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            High-quality printing is guaranteed in terms of
                            sharpness and detail.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-4.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            Our materials have the highest Scratch Resistance.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-5.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            Our operations run 100% on Green Energy.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-6.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            We use zero VOC inks, safe for your health and the
                            environment.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-7.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            Color consistency between your order and reprints.
                        </p>
                    </div>
                    <div class="text-center lg:text-left">
                        <img
                            class="mx-auto lg:mx-0"
                            src="/images/feature-icon-8.svg"
                            alt="feature icon"
                        />
                        <p class="mt-4 text-sm">
                            The durability is over 10 years of resistance.
                        </p>
                    </div>
                </div>
            </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-16">
                <div class="flex flex-col gap-y-4 xl:flex-row items-center justify-center gap-x-2 border-t border-t-white pt-4">
                    <div class="flex-shrink-0">
                        <img src="/images/caption.svg" alt="caption" />
                    </div>
                    <p class="text-xs text-center xl:text-left">
                        Our wallpapers do NOT contain Solvent Ink (known for
                        off-gassing VOCs and shrinkage over time, creating gaps
                        between panels)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
