---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Frame 64">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div
        class="h-screen bg-cover bg-center bg-[url('/images/frame-63-hero.jpg')] relative"
    >
        <div
            class="absolute left-1/2 -translate-x-1/2 -bottom-20 w-full mx-auto max-w-[1203px]"
        >
            <div class="mx-auto w-10/12">
                <!-- CUSTOMIZE YOUR PADDING HERE -->
                <div class="bg-white pt-10 lg:pt-[80px]">
                    <div class="mx-auto w-10/12">
                        <div class="text-center lg:text-left">
                            <h1
                                class="text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl leading-none"
                            >
                                Peel-and-stick <br /> wallpapers installation
                            </h1>
                        </div>
                        <!-- CUSTOMIZE YOUR MARGIN HERE -->
                        <div class="mt-8 lg:mt-16">
                            <div
                                class="flex flex-col md:flex-row gap-x-8 lg:gap-x-12"
                            >
                                <div class="md:w-1/2">
                                    <div class="text-xs lg:text-sm space-y-4">
                                        <h3 class="font-medium">
                                            IMPORTANT CONSIDERATIONS
                                        </h3>
                                        <p>
                                            Our wallpaper cannot be used on
                                            porous surfaces, such as raw wood
                                            (unstained), exposed drywall (not
                                            painted), concrete (not painted), or
                                            bricks.
                                        </p>
                                        <p>
                                            Sheetrock has to be primed or
                                            painted before the installation of
                                            the wallpaper panels.
                                        </p>
                                        <p>
                                            Low and zero VOC paints will affect
                                            the adhesion of the wallpaper to the
                                            wall. If this is the case, please
                                            keep reading the installation guide
                                            to know how to make it work in a few
                                            steps.
                                        </p>
                                    </div>
                                </div>
                                <div class="md:w-1/2">
                                    <div class="text-xs lg:text-sm space-y-4">
                                        <div class="hidden md:block">
                                            &nbsp;
                                        </div>
                                        <p>
                                            The best paints suitable for
                                            peel-and-stick wallpaper
                                            installations are oil or water-based
                                            paints with matte, gloss, or
                                            semi-gloss/egg-shell finish.
                                        </p>
                                        <p class="font-normal">
                                            What to do if your paint has low or
                                            zero VOC?
                                        </p>
                                        <p>
                                            To ensure proper installation of our
                                            wallpaper, wipe the wall surface
                                            with isopropyl alcohol (rubbing
                                            alcohol) three times before
                                            installation, and allow the wall to
                                            dry completely before installing the
                                            wallpaper. This procedure is always
                                            recommended if you don’t know what
                                            type of paint your wall has.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="pt-60">
        <div class="w-10/12 mx-auto max-w-[1203px]">
            <div>
                <div class="py-8 border-y border-black border-opacity-30">
                    <div class="w-10/12 lg:w-8/12 mx-auto">
                        <div class="text-center lg:text-left">
                            <h2
                                class="font-medium text-xl lg:text-2xl xl:text-3xl leading-tight"
                            >
                                ESSENTIAL STEPS BEFORE INSTALLING OUR
                                PEEL-AND-STICK WALLPAPER
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-16">
                    <div class="mx-auto max-w-2xl space-y-12 lg:space-y-20">
                        <div class="flex gap-x-4">
                            <div class="flex flex-col items-center">
                                <div>
                                    <div
                                        class="flex items-center justify-center w-14 h-14 lg:w-[84px] lg:h-[84px] border rounded-full"
                                    >
                                        <span
                                            class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                            >1</span
                                        >
                                    </div>
                                </div>
                                <div class="w-px h-full bg-gray-300"></div>
                            </div>
                            <div class="translate-y-3">
                                <h3
                                    class="text-xl md:text-2xl lg:text-3xl xl:text-4xl"
                                >
                                    Check your order
                                </h3>
                                <div class="mt-8 lg:mt-16">
                                    <ul class="space-y-8 lg:space-y-12">
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-1.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Unpack and check your order upon
                                                receiving it, even if you won’t
                                                install it right away.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-2.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                If you think there is an error,
                                                defect, or flaw. Please, contact
                                                us before beginning the
                                                installation.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-3.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Check the labels on the bottom
                                                of each strip for a correct
                                                sequential installation. Some
                                                orders, like custom orders,
                                                murals, and larger patterns,
                                                will include the sequence to be
                                                installed at the bottom of each
                                                strip.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-4.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Start from left to right (Unless
                                                we suggest otherwise).
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-x-4">
                            <div class="flex flex-col items-center">
                                <div>
                                    <div
                                        class="flex items-center justify-center w-14 h-14 lg:w-[84px] lg:h-[84px] border rounded-full"
                                    >
                                        <span
                                            class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                            >2</span
                                        >
                                    </div>
                                </div>
                                <div class="w-px h-full bg-gray-300"></div>
                            </div>
                            <div class="translate-y-3">
                                <h3
                                    class="text-xl md:text-2xl lg:text-3xl xl:text-4xl"
                                >
                                    Prepare your wall
                                </h3>
                                <div class="mt-8 lg:mt-16">
                                    <ul class="space-y-8 lg:space-y-12">
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-5.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                The wall or surface must be
                                                painted, dry, and in good
                                                condition. Please avoid
                                                installing wallpapers on walls
                                                with cracking paint, mold,
                                                grease, or stains.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-6.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Remove any socket or switch
                                                covers and switch off the main
                                                power.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-7.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Remove any nails and screws and
                                                fill in any cracks. Make sure to
                                                smoothen up the wall if there is
                                                any spot on the wall.
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-8.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Before installation, clean your
                                                wall thoroughly with a damp
                                                washcloth or a sponge. If the
                                                wall is not properly cleaned,
                                                the wallpaper will adhere to
                                                possible dust and not to the
                                                wall.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-x-4">
                            <div class="flex flex-col items-center">
                                <div>
                                    <div
                                        class="flex items-center justify-center w-14 h-14 lg:w-[84px] lg:h-[84px] border rounded-full"
                                    >
                                        <span
                                            class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                            >3</span
                                        >
                                    </div>
                                </div>
                                <div class="w-px h-full bg-gray-300"></div>
                            </div>
                            <div class="translate-y-3">
                                <h3
                                    class="text-xl md:text-2xl lg:text-3xl xl:text-4xl"
                                >
                                    Gather your supplies
                                </h3>
                                <div class="mt-8 lg:mt-16">
                                    <ul
                                        class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-8"
                                    >
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-9.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Peel and Stick Wallpaper
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-10.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Craft knife
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-11.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Measuring tape
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-12.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Smoothing tool (squeegee)
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-13.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Level and Straightedge
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-14.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Helper (is always handy)
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-15.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Pencil
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-16.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                ROMAN E-Z Hang Peel & Stick
                                                Wallpaper Helper (strongly
                                                recommended)
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-x-4">
                            <div class="flex flex-col items-center">
                                <div>
                                    <div
                                        class="flex items-center justify-center w-14 h-14 lg:w-[84px] lg:h-[84px] border rounded-full"
                                    >
                                        <span
                                            class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                            >4</span
                                        >
                                    </div>
                                </div>
                                <div class="w-px h-full bg-gray-300"></div>
                            </div>
                            <div class="translate-y-3">
                                <h3
                                    class="text-xl md:text-2xl lg:text-3xl xl:text-4xl"
                                >
                                    Mark your starting and guiding line
                                </h3>
                                <div class="mt-8 lg:mt-16">
                                    <ul class="space-y-8 lg:space-y-12">
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-17.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Measure the width of one of the
                                                strips (or strip #1 if they are
                                                sequential).
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-18.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Mark the same strip’s width on
                                                the wall and draw a mark with
                                                your pencil
                                            </p>
                                        </li>
                                        <li
                                            class="flex flex-col md:flex-row gap-y-4 gap-x-12"
                                        >
                                            <div class="flex-shrink-0">
                                                <img
                                                    src="/images/frame-64-icon-19.svg"
                                                    alt="icon"
                                                />
                                            </div>
                                            <p class="text-xs lg:text-sm">
                                                Using your level, draw a
                                                straight line from the ceiling
                                                to the floor. This line is the
                                                guideline for your first panel.
                                                Never align a wallpaper to a
                                                corner or ceiling since they
                                                might be uneven.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-20 lg:mt-32">
                <div class="py-8 border-y border-black border-opacity-30">
                    <div class="w-10/12 lg:w-8/12 mx-auto">
                        <div class="text-center">
                            <h2
                                class="font-medium text-xl lg:text-2xl xl:text-3xl leading-tight"
                            >
                                PEEL AND STICK WALLPAPER INSTALLATION STEPS
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-16">
                    <div class="mx-auto max-w-2xl space-y-12 lg:space-y-20">
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 1
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Peel the backing paper
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-1.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            From the first panel, peel and fold
                                            about 3 to 6 inches of the backing
                                            paper, exposing the adhesive to
                                            begin the installation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 2
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Position the first strip
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-2-1.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            If using E-Z Hang, spray a generous
                                            amount of E-Z Hang on the wall
                                            surface.
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="mt-8 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-2-2.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            Apply the wallpaper to the top of
                                            the wall, allowing a bit of excess
                                            to overlap the ceiling (this will be
                                            trimmed off later). Align the right
                                            side of the strip to the guiding
                                            line you previously drew. You can
                                            reposition the strip if needed to
                                            ensure a vertical seam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 3
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Peel the backing paper little by little
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-3.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            Working from top to bottom, pull the
                                            backing down always straight as you
                                            evenly press the paper to the wall a
                                            few inches at a time, checking the
                                            right side matches the guideline.
                                            Use the squeegee tool to press the
                                            wallpaper into the wall, moving from
                                            the center outwards, releasing the
                                            air. If bubbles appear, work them
                                            out by applying firm pressure with
                                            the smoother.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 4
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Apply more panels
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-4.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            Select your next strip and apply it,
                                            so its left side is butted to the
                                            right edge of the previous panel
                                            matching the repeat. Smooth the
                                            second panel into the wall as you
                                            did with the first panel. Repeat the
                                            process and then smooths out any air
                                            bubbles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 5
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Smooth again
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-5.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            SMOOTH each panel during
                                            installation. If possible, repeat
                                            this step a few days later. Peel and
                                            Stick Wallpapers contain
                                            pressure-sensitive adhesives, which
                                            are activated when they are firmly
                                            pressed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 6
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Trim extra material
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-6.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            Trim excess material at the ceiling
                                            and baseboard with a straightedge
                                            and a sharp craft knife. Change the
                                            blade often to ensure a smooth cut.
                                        </p>
                                        <div
                                            class="mt-2 flex items-center gap-x-1"
                                        >
                                            <img
                                                class="flex-shrink-0"
                                                src="/images/caption-gray.svg"
                                                alt="caption gray"
                                            />
                                            <p
                                                class="font-normal text-black text-opacity-50 text-[14px]"
                                            >
                                                Change the blade often to ensure
                                                a smooth cut.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="mr-4 flex-shrink-0">
                                <span
                                    class="font-normal text-2xl lg:text-3xl xl:text-4xl"
                                    >Step 7
                                </span>
                            </div>
                            <div
                                class="self-stretch min-h-full bg-gray-300 w-0.5 mr-6"
                            >
                                &nbsp;
                            </div>
                            <div>
                                <h3 class="text-2xl lg:text-3xl xl:text-4xl">
                                    Overlap
                                </h3>
                                <div
                                    class="mt-2 flex flex-col gap-y-4 md:flex-row gap-x-8"
                                >
                                    <div class="md:w-1/3">
                                        <div class="bg-[#F4F3F3] p-4">
                                            <img
                                                class="mx-auto md:mx-0"
                                                src="/images/frame-64-step-7.svg"
                                                alt="frame 64 step"
                                            />
                                        </div>
                                    </div>
                                    <div class="md:w-2/3">
                                        <p class="tex-xs lg:text-sm">
                                            We added an extra 0.5” to your
                                            wallpaper panels for you to install
                                            one over the other. You must place
                                            the next panel 0.5” over the
                                            previous one. For textured walls,
                                            overlap helps maintain the
                                            dimensional stability of the whole
                                            installation.
                                        </p>
                                        <div
                                            class="mt-2 flex items-center gap-x-1"
                                        >
                                            <img
                                                class="flex-shrink-0"
                                                src="/images/caption-gray.svg"
                                                alt="caption gray"
                                            />
                                            <p
                                                class="font-normal text-black text-opacity-50 text-[14px]"
                                            >
                                                If you requested your order with
                                                an overlap, please follow this
                                                steps for a correct
                                                installation:
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CUSTOMIZE YOU MARGIN HERE -->
            <div
                class="mt-32 lg:mt-52 py-20 lg:py-28 border-y border-y-black border-opacity-30"
            >
                <div class="text-center max-w-[825px] mx-auto">
                    <h2
                        class="text-xl md:text-2xl lg:text-3xl xl:text-4xl leading-tight"
                    >
                        HOW TO TAKE CARE OF AND REMOVE OUR PEEL-AND-STICK
                        WALLPAPER?
                    </h2>
                </div>
                <!-- CUSTOMIZE YOU MARGIN HERE -->
                <div class="mt-16 lg:mt-20 flex flex-col gap-y-8 md:flex-row md:gap-x-5">
                    <div class="md:w-1/2">
                        <div class="p-10 bg-gris-6 bg-opacity-50">
                            <h3 class="font-medium text-sm lg:text-base">
                                Care
                            </h3>
                            <p class="mt-1 text-xs lg:text-sm">
                                The lifespan of wallpaper depends on the
                                conditions it is subjected to. Proper care is
                                essential for more lasting and optimal
                                performance.
                            </p>
                            <p class="mt-12 font-medium uppercase text-[12px]">
                                Take me to the guide
                            </p>
                        </div>
                    </div>
                    <div class="md:w-1/2">
                        <div class="p-10 bg-gris-6 bg-opacity-50">
                            <h3 class="font-medium text-sm lg:text-base">
                                Removal
                            </h3>
                            <p class="mt-1 text-xs lg:text-sm">
                                If it is time to change the wallpaper when
                                remodeling your space, we can provide you with
                                valuable info to remove it safely and optimally.
                            </p>
                            <p class="mt-12 font-medium uppercase text-[12px]">
                                Take me to the guide
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
