---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Frame 60">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="py-72 bg-[url('/images/frame-60-hero.jpg')] bg-cover bg-center">
        <div class="w-11/12 lg:w-10/12 mx-auto max-w-5xl">
            <!-- CUSTOMIZE YOUR PADDING HERE -->
            <div class="bg-white py-20">
                <div class="w-11/12 lg:w-10/12 mx-auto">
                    <h1 class="text-3xl lg:text-4xl text-center lg:text-left">
                        Come closer and <br /> Discover who we are
                    </h1>
                    <!-- CUSTOMIZE YOUR MARGIN HERE -->
                    <div class="mt-14">
                        <div class="flex flex-col md:flex-row gap-8">
                            <div class="md:w-1/2">
                                <div class="text-xs lg:text-sm">
                                    <p>
                                        We are a leading wallpaper company
                                        providing people with inspiration and
                                        resources to transform their living
                                        spaces.
                                    </p>
                                    <!-- CUSTOMIZE YOUR MARGIN HERE -->
                                    <p class="mt-8">
                                        Our experienced team is continually
                                        crafting their work to inspire our
                                        audience and lead the market with
                                        designs and styles that define the new
                                        trends in the sector.
                                    </p>
                                </div>
                            </div>
                            <div class="md:w-1/2">
                                <div class="text-xs lg:text-sm">
                                    <p>
                                        We are committed to offering the highest
                                        quality wallpapers supported by
                                        cutting-edge technologies and materials.
                                    </p>
                                    <!-- CUSTOMIZE YOUR MARGIN HERE -->
                                    <p class="mt-8">
                                        It is relevant to us to create a
                                        positive and memorable consumer
                                        experience, supported by outstanding
                                        customer service and free access to
                                        design assistance from start to finish.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="py-64">
        <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-pageMaxWidth">
            <div class="mx-auto max-w-screen-xl">
                <div
                    class="flex items-center justify-start gap-x-12 xl:gap-x-20 overflow-x-scroll no-scroll lg:overflow-x-visible"
                >
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            humanity
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            quality
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            trust
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-black"
                        >
                            passion
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            dedication
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            teamwork
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <button
                            class="text-sm lg:text-base font-medium uppercase border-b-2 border-b-transparent"
                        >
                            kindness
                        </button>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-16">
                    <div class="text-center">
                        <h2 class="text-4xl lg:text-5l xl:text-6xl">
                            is our catalyst.
                        </h2>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-16">
                    <img
                        class="mx-auto"
                        src="/images/bullets-list.svg"
                        alt="bullets list"
                    />
                </div>
            </div>
        </div>
    </div>
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="py-64 bg-gris-7 relative">
        <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-pageMaxWidth">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-1.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-2.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-3.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-4.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-5.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-6.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-7.png"
                        alt="frame 60 people"
                    />
                </div>
                <div class="bg-gris-5">
                    <img
                        class="w-full h-full object-cover object-center"
                        src="/images/frame-60-people-8.png"
                        alt="frame 60 people"
                    />
                </div>
            </div>
        </div>
        <!-- POSITION ABSOLUTE -->
        <div
            class="absolute -top-24 left-1/2 -translate-x-1/2 max-w-[1240px] w-full"
        >
            <div class="bg-black w-11/12 lg:w-10/12 mx-auto">
                <div class="py-8">
                    <div class="mx-auto w-11/12 lg:w-10/12">
                        <div
                            class="flex flex-col md:flex-row items-center gap-8 lg:gap-x-12 xl:gap-x-16 text-white"
                        >
                            <div class="md:w-1/2">
                                <h3 class="font-normal text-2xl lg:text-3xl">
                                    Meet the people creating and supporting our
                                    Wallpaper vision!
                                </h3>
                            </div>
                            <div class="md:w-1/2">
                                <p class="text-xs lg:text-sm">
                                    We’re a multidisciplinary team of 30 people
                                    living and working in 8 countries worldwide.
                                    United and motivated in our mission to
                                    provide the best value to our customers,
                                    serving over 56,000 projects.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="pt-20 pb-60">
        <div class="w-11/12 lg:w-10/12 mx-auto max-w-[816px]">
            <div class="text-center">
                <p class="text-sm lg:text-base">
                    We appreciate that you took the time to get to know us
                    better. <a class="underline" href="/">Leave us a message</a> so we can know more
                    about your preferences and needs!
                </p>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
<style>
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scroll::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scroll {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
</style>
