---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Frame 58">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="pt-40 pb-4">
        <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-xlg">
            <div class="text-center mx-auto max-w-[816px]">
                <h3 class="text-sm lg:text-[22px]">Welcome to</h3>
                <h2 class="text-3xl lg:text-4xl -mt-2">Our Retail Program</h2>
                <p class="text-xs lg:text-[20px] mt-2">
                    Discover our wallpaper retailer program to have high-quality
                    wallpaper at the best price and a wide range of designs to
                    choose from. All you need to do is fill out the following
                    form and we will contact you by mail.
                </p>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-16 lg:mt-24">
                <div class="text-center">
                    <h3 class="text-xl lg:text-2xl">
                        Benefits of this program
                    </h3>
                </div>
                <div class="mt-8 flex flex-col md:flex-row">
                    <div class="md:w-1/2 lg:w-7/12">
                        <img
                            class="w-full h-full object-cover object-center"
                            src="/images/frame-58.jpg"
                            alt="frame 58"
                        />
                    </div>
                    <div class="md:w-1/2 lg:w-5/12 self-stretch">
                        <div
                            class="bg-gris-7 py-8 lg:py-16 h-full grid place-items-center"
                        >
                            <div class="mx-auto w-10/12">
                                <ul
                                    class="space-y-4 font-medium text-sm lg:text-base"
                                >
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>XX% off</p>
                                    </li>
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>Free Shipping</p>
                                    </li>
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>Free color customization</p>
                                    </li>
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>Free size customization</p>
                                    </li>
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>
                                            Free choosing between Tiled or
                                            Standard rolls.
                                        </p>
                                    </li>
                                    <li class="flex items-center gap-x-9">
                                        <img
                                            src="/images/check_small.svg"
                                            alt="check small"
                                        />
                                        <p>Dedicated Account Manager</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-64">
                    <div class="text-center mx-auto max-w-[816px]">
                        <h2 class="text-3xl lg:text-4xl">
                            Who is this program for?
                        </h2>
                        <p class="text-xs lg:text-[20px] mt-2">
                            If you are a professional influencer, blogger or
                            content creator of home decor and lifestyle products
                            this is for you! We are excited to know you and to
                            collaborate together, please send your information
                            in the next form and enjoy!
                        </p>
                        <div class="mt-12 lg:mt-16 text-center">
                            <a
                                class="inline-block border border-black font-medium py-4 px-8 text-xs"
                                href="/"
                            >
                                APPLY
                            </a>
                        </div>
                    </div>
                </div>
                <!-- CUSTOMIZE YOUR MARGIN HERE -->
                <div class="mt-64 text-center">
                    <h2 class="text-3xl lg:text-4xl -mt-2">
                        Why choosing Ondecor?
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
