---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Group 1136">
    <!-- COPY HERE -->
    <!-- CUSTOMIZE YOUR PADDING HERE -->
    <div class="py-44">
        <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-xlg">
            <div class="text-center mx-auto max-w-[816px]">
                <h2 class="text-3xl lg:text-4xl">How to measure your wall?</h2>
                <p class="text-xs lg:text-[20px] mt-2">
                    Measuring your wall is an easy process! You only need to
                    know the height and width of your wall, be sure to use a
                    tape measure and measure the wall without the baseboards. In
                    this quick guide, you can identify your wall type and how to
                    obtain the exact measurements to wallpaper with the amount
                    optimally required.
                </p>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-44 space-y-20 lg:space-y-40">
                <div
                    class="flex flex-col md:flex-row gap-y-8 md:gap-x-12 lg:gap-x-16 items-center"
                >
                    <div class="md:w-1/2">
                        <img
                            class="w-full h-full object-cover object-center"
                            src="/images/group-11-36-1.jpg"
                            alt="group-11-36 image"
                        />
                    </div>
                    <div class="md:w-1/2">
                        <h3 class="text-2xl lg:text-3xl text-[#212121]">
                            Regular Wall
                        </h3>
                        <p class="mt-4 text-xs lg:text-sm">
                            A regular wall has no doors, windows, or
                            obstructions.Measure the width and height of the
                            wall. Divide the total width with either 24 and
                            round the result to the closest whole number to
                            calculate the strip's quantity needed for the wall.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col md:flex-row-reverse gap-y-8 md:gap-x-12 lg:gap-x-16 items-center"
                >
                    <div class="md:w-1/2">
                        <img
                            class="w-full h-full object-cover object-center"
                            src="/images/group-11-36-2.jpg"
                            alt="group-11-36 image"
                        />
                    </div>
                    <div class="md:w-1/2">
                        <h3 class="text-2xl lg:text-3xl text-[#212121]">
                            Sloped wall
                        </h3>
                        <p class="mt-4 text-xs lg:text-sm">
                            When you have a sloped wall, measure the width and
                            height of the wall and ignore any sloped. We send
                            you the material for all the areas and you have to
                            cut the excess in the installation process. Divide
                            the total width with either 24 and round the result
                            to the closest whole number to calculate the strip's
                            quantity needed for the wall.
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col md:flex-row gap-y-8 md:gap-x-12 lg:gap-x-16 items-center"
                >
                    <div class="md:w-1/2">
                        <img
                            class="w-full h-full object-cover object-center"
                            src="/images/group-11-36-3.jpg"
                            alt="group-11-36 image"
                        />
                    </div>
                    <div class="md:w-1/2">
                        <h3 class="text-2xl lg:text-3xl text-[#212121]">
                            Wall with windows or doors
                        </h3>
                        <p class="mt-4 text-xs lg:text-sm">
                            There are walls combined with windows or doors.
                            Measuring this type of wall could be more
                            challenging than measuring a regular one. If you
                            require a custom order, you can contact our customer
                            service team and attach the layout of your wall. We
                            mark the measurements we need. Contact us now!
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col md:flex-row-reverse gap-y-8 md:gap-x-12 lg:gap-x-16 items-center"
                >
                    <div class="md:w-1/2">
                        <img
                            class="w-full h-full object-cover object-center"
                            src="/images/group-11-36-2.jpg"
                            alt="group-11-36 image"
                        />
                    </div>
                    <div class="md:w-1/2">
                        <h3 class="text-2xl lg:text-3xl text-[#212121]">
                            Multiple walls
                        </h3>
                        <p class="mt-4 text-xs lg:text-sm">
                            For multiple walls, measure the height and combine
                            the widths of each wall. Divide the total width with
                            either 24. Round up the result to the closest whole
                            number to calculate the strip's quantity needed for
                            the whole area. Get in touch with us for a
                            customized order!
                        </p>
                    </div>
                </div>
            </div>
            <!-- CUSTOMIZE YOUR MARGIN HERE -->
            <div class="mt-16">
                <div
                    class="flex flex-col gap-y-4 xl:flex-row items-center justify-center gap-x-2 border-t-2 pt-4"
                >
                    <div class="flex-shrink-0">
                        <img src="/images/caption-black.svg" alt="caption" />
                    </div>
                    <p class="text-xs text-center xl:text-left">
                        Having your wall measured, consider using <a
                            class="underline"
                            href="/">our calculator</a
                        >
                        to determine the right amount of material for your project.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- COPY HERE END -->
</BaseLayout>
