---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home page">
	<div class="h-screen">
		<div
			class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full"
		>
			<div class="w-11/12 lg:w-10/12 mx-auto max-w-screen-xlg">
				<div class="text-center">
					<h1 class="text-5xl lg:text-6xl xl:text-7xl">
						Select a section in the navigation bar
					</h1>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
