<footer class="py-4 border-t">
    <div class="w-11/12 lg:w-10/12 mx-auto max-w-screen-pageMaxWidth">
        <div class="text-center">
            <p>Copyright - {new Date().getFullYear()}</p>
        </div>
    </div>
</footer>