<header class="py-4 border-b">
    <div class="mx-auto w-11/12 lg:w-10/12 max-w-screen-pageMaxWidth">
        <div class="flex justify-between items-center">
            <div>
                <a href="/">Inicio</a>
            </div>
            <div>
                <nav>
                    <ul class="flex gap-x-8 items-center">
                        <li>
                            <a href="/componente-5">Componente 5</a>
                        </li>
                        <li>
                            <a href="/componente-6">Componente 6</a>
                        </li>
                        <li>
                            <a href="/features-black">Features Black</a>
                        </li>
                        <li>
                            <a href="/group-1136">Group 1136</a>
                        </li>
                        <li>
                            <a href="/frame-58">Frame 58</a>
                        </li>
                        <li>
                            <a href="/frame-60">Frame 60</a>
                        </li>
                        <li>
                            <a href="/frame-61">Frame 61</a>
                        </li>
                        <li>
                            <a href="/frame-62">Frame 62</a>
                        </li>
                        <li>
                            <a href="/frame-63">Frame 63</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
